.App {
  align-items: left;
  padding: 20px;
  font-family: Arial, sans-serif;
  height: 90vh;
  background-color: aliceblue;

}

.header {
  background-color: #457fbd;
  color: white;
  padding: 20px;
  text-align: center;
}

.questions {

  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ccc
}

.buttons {
  flex: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.buttons button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #f1f1f1;
  color: #666;
  font-size: 16px;
  cursor: pointer;
}

.buttons button.active {
  background-color: #4CAF50;
  color: white;
}

.nav-buttons button {
  margin-right: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.nav-buttons button:disabled {
  background-color: red;
  cursor: not-allowed;
}